<div>
  <app-tabbed-interface></app-tabbed-interface>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="display-4 mb-4">
            Elastyczność tego rozwiązania jest nieograniczona
          </h2>
        </div>
      </div>
    </div>
    <div class="row bg-dark text-light py-5">
      <div class="container d-flex flex-row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <p class="text-center mb-4">
            Najwiekszym plusem tego rozwiązania jest jego elastycznosć, którą
            okupujemy koniecznością pracy własnej.
          </p>
          <p class="text-center mb-4">
            Wiele problemów rozwiązanych przez bibliotekę ng-bootstrap jest
            tutaj nierozwiązanych i wymaga customowoego podejścia oraz
            rozwiazania problemów.
          </p>
          <p class="text-center">
            Niemniej jednak sam Angular oferuje wiele rozwiazań najbardziej
            typowych problemów frontendowych i upraszcza pracę na tyle, że
            budowanie aplikacji bez ng-bootstrap nadal nie powinno być o wiele
            bardziej pracochłonne niż z nim.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
